html,
body {
  background-color: rgb(227, 225, 225);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  margin-top: 1rem;
  display: block;
  padding: 6px;
  justify-content: space-around;
  /* background-color: rgb(222, 219, 219); */
  background-color: white;

  border-radius: 8px;
  margin-inline: auto;
  width: 750px;
  box-shadow: 10px 10px 5px gray;
  /* box-shadow: 5px 5px 10px 10px gray; */
}

.task {
  text-decoration: line-through;
}

.task-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: center;
}

.todo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* margin-top: 1rem; */
}

/* TODO get clear button to move to the center. Right now it is stuck to the right */
.clear-button {
  /* padding: 6px; */
  width: 160px;
  margin-inline: auto;
  /* margin-top: 10px; */
  margin-bottom: 1rem;
  border-radius: 4px;
  border-width: 1px;
}
.clear-button:hover {
  background-color: rgb(222, 216, 216);
}

.form {
  display: flex;
  justify-content: center;
  /* padding: 1rem; */
  /* margin-top: 30px;
  position: relative;
  top: -690px; */
  /* margin-top: 50px; */
}

.submit {
  border-radius: 4px;
  border-width: 1px;
}
.submit:hover {
  background-color: rgb(222, 216, 216);
  border-width: 1px;
}
